@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria: white;
    --cor-secundaria: #e50914;
    --font-primaria: 'Inter';
    --font-secundaria: Arial, Helvetica, sans-serif;
    --arredondamento: 0.4rem;
}

* {
    padding: 0;
    margin: 0;
    color: var(--cor-primaria);
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#main::before {
    content: "";
    background: url(/images/netflix-bg.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.nav-bar {
    display: flex;
    align-items: center;
    z-index: 99;
    width: 100%;
    height: 10vh;
}

.nav-bar img {
    width: 10rem;
    height: 100%;
}

.left-side {
    position: fixed;
    left: 0;
    object-fit: cover;
    margin-left: 2rem;
}

.right-side {
    position: fixed;
    right: 0;
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
}

.right-side select {
    background: transparent;
    border-radius: 0.4rem;
    padding: 0.2rem 0.6rem;
    cursor: pointer;
}

.right-side select option {
    background: rgb(32, 32, 32);
}

.right-side a {
    text-decoration: none;
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
}

.right-side button {
    border: transparent;
    background: var(--cor-secundaria);
    width: 100px;
    padding: 0.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-side button:hover  {
    transform: scale(1.1);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px var(--cor-secundaria);
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    z-index: 99;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.1rem;
}

.content h1 {
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
}

.content h5, h4{
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.forms {
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
    text-decoration: none;
}

.forms input {
    width: 25rem;
    padding: 0.9rem;
    background-color: rgba(0, 0, 0, 0.432);
    margin-right: 1rem;
    border-radius: 0.2rem;
    border: solid 1px white;
}

.forms button {
    padding: 0.6rem 2rem;
    background-color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.6rem;
    border: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.forms button:hover {
    transform: scale(0.9);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px var(--cor-secundaria);
}

@media screen and (max-width: 1000px) {

    .left-side {
    margin-left: 0.5rem;
}

.right-side {
    margin-right: 0.5rem;
    gap: 0.4rem;
}

.content h1 {
    margin: 0rem 1.8rem 0rem 1.8rem;
}

.content h5, h4{
    margin: 0rem 1.8rem 0rem 1.8rem;
}

.forms {
    text-align: center;
}

.forms button {
    margin-top: 0.5rem;
}

.forms input {
    width: 18rem;
}

.right-side select {
    padding: 0.1rem 0.1rem;
}

.right-side button {
    width: 80px;
    padding: 0.3rem;
}

.nav-bar img {
    width: 8rem;
    height: 100%;
}

}