@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria: white;
    --cor-secundaria: #e50914;
    --font-primaria: 'Inter';
    --font-secundaria: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    color: var(--cor-primaria);
}

body, html {
    height: 100%;
    width: 100%;
    background-image: url(/images/netflix-bg.jpg);
}


.nav-bar {
    display: flex;
    align-items: center;
    z-index: 99;
    width: 100%;
    height: 10vh;
}

.nav-bar img {
    width: 10rem;
    height: 100%;
}

.left-side {
    position: fixed;
    left: 0;
    object-fit: cover;
    margin-left: 2rem;
}

.right-side {
    position: fixed;
    right: 0;
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
}

.right-side a {
    text-decoration: none;
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
}

.right-side button {
    border: transparent;
    background: var(--cor-secundaria);
    width: 100px;
    padding: 0.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-side button:hover  {
    transform: scale(1.1);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px var(--cor-secundaria);
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.1rem;
}

.content h1 {
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 3.5rem;
}

.content h5, h4{
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 1.5rem;
}


